$color-primary-1: #242943;
$color-primary-2: #646C95;
$color-primary-3: #50577B;
$color-primary-4: #353B5A;

//$color-pink: #d20962;
$color-blue: #4072F7;

$color-text-white: #ddd;
$color-light-black: #1a1a1a;

$shadow: 5px 5px 20px rgba(#000, .6);