.footer {
    background-color: $color-light-black;
    clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);
    margin-top: -10vw;
    padding: 8rem 0 6rem 0;
    color: $color-text-white;
    font-size: 1.4rem;
    text-align: center;

    @include respond(tablet-landscape) {
        clip-path: polygon(0 0, 100% 5vw, 100% 100%, 0 100%);
        margin-top: -5vw;
        padding: 6rem 0 4rem 0;
    }

    @include respond(desktop) {
        padding: 8rem 0 4rem 0;
    }
}

.developer {
    font-size: 1.2rem;
    margin-top: 1rem;
    
    &-name,
    &-name:link {
        color: $color-text-white;
        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }
}